doctype html
head
  title CRUD
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
.container(style='margin:5%;')
  ul#myTab.nav.nav-tabs(role='tablist')
    li.nav-item
      a#create-tab.nav-link.active(data-toggle='tab' href='#create' role='tab' aria-controls='create' aria-selected='false') Create
    li.nav-item
      a#retrieve-tab.nav-link(data-toggle='tab' href='#retrieve' role='tab' aria-controls='retrieve' aria-selected='true') Retrieve
    li.nav-item
      a#update-tab.nav-link(data-toggle='tab' href='#update' role='tab' aria-controls='update' aria-selected='false') Update
    li.nav-item
      a#delete-tab.nav-link(data-toggle='tab' href='#delete' role='tab' aria-controls='delete' aria-selected='false') Delete
  #myTabContent.tab-content
    
    #create.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='create-tab')
      form(action='/create' method='POST')
        br
        .form-group
          label(for='create_name') Name
          input#name.form-control(type='text' placeholder='Enter name' name='name')
        .form-group
          label(for='create_time') Time
          input#time.form-control(type='text' placeholder='Enter time' name='time')
        button.btn.btn-primary(type='submit') Create
    
    #retrieve.tab-pane.fade(role='tabpanel' aria-labelledby='retrieve-tab') 
      each reservation in array
        .card(style='margin: 1%;')
          .card-body
            p.card-text #{reservation.name}
            p.card-text #{reservation.time}

    #update.tab-pane.fade(role='tabpanel' aria-labelledby='update-tab') 
      each reservation in array
        .card(style='margin: 1%;')
          form(action='/update' method='POST')
            br
            .form-group
              label(for='update_name') Name
              input#name.form-control(type='text' value=`${reservation.name}` name='name')
            .form-group
              label(for='update_time') Time
              input#time.form-control(type='text' value=`${reservation.time}` name='time')
            .form-group(hidden)
              label(for='update_hid_time') Time
              input#time.form-control(type='text' value=`${reservation.time}` name='hid_time')
            .form-group(hidden)
              label(for='update_hid_name') Name
              input#name.form-control(type='text' value=`${reservation.name}` name='hid_name')
            button.btn.btn-primary(type='submit') Update
    
    #delete.tab-pane.fade(role='tabpanel' aria-labelledby='delete-tab') 
      each reservation in array
        .card(style='margin: 1%;')
          form(action='/delete' method='POST')
            br
            .form-group
              label(for='delete_name') Name
              input#name.form-control(type='text' value=`${reservation.name}` name='name' disabled)
            .form-group
              label(for='delete_time') Time
              input#time.form-control(type='text' value=`${reservation.time}` name='time' disabled)
            .form-group
              input#name.form-control(type='text' value=`${reservation.name}` name='name' hidden)
            .form-group
              input#time.form-control(type='text' value=`${reservation.time}` name='time' hidden)
            button.btn.btn-primary(type='submit') Delete

form(action='/' method='GET')
  button.btn.btn-primary(style='top:5%; right:10%; position:absolute; padding: 5px;') Home
form(action='/logout' method='POST')
  button.btn.btn-primary(style='top:5%; right:5%; position:absolute; padding: 5px;') Logout
